REDIS_CONNECTION_URL=redis://redis:6379

# Shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=

# HN
HN_GRAPHQL_ENDPOINT=
HN_GRAPHQL_API_KEY=
HN_API_ENDPOINT=
HN_API_ENDPOINT_KEY=
HN_API_APP_SITE=

# OTHERS
SCOPES=
APPLICATION_ID=
VITE_PRIVILEGE_ENCRYPTION_KEY=
SHOP=
 