node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*

package-lock.json
yarn.lock
pnpm-lock.yaml

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
