node_modules
.DS_Store

/.cache
/build
.react-router/
/app/build
/public/build/
/public/_dev
/app/public/build

.env
.env.*
!.env.sample

package-lock.json
yarn.lock
pnpm-lock.yaml

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock

!shopify.app.*.toml
shopify.app.toml
api.specs.yaml
.github